section
  div.sectionTitle
    h1 Education
  div.pdfContent
    article
      h2 #{data.school}
      p.subDetails Major: #{data.major}
      p 
        u Coursework 
        ul.keySkills
          li #{data.courses}
      p 
        u Awards and Activity
        ul.keySkills 
          li #{data.awards}
  div.clear
