section
  div.sectionTitle
    h1 Education
  div.sectionContent
    article
      h2 #{school}
      p.subDetails Major: #{major}
      p 
        u Coursework 
        ul.keySkills
          li #{courses}
      p 
        u Awards and Activity
        ul.keySkills 
          li #{awards}
  div.clear
