section
  div.sectionTitle
    h1 Work Experience
  div.sectionContent
    article
      h2 #{experience.job} at #{experience.company}
      p.subDetails #{experience.dateWorked}
      p #{experience.desc}
  div.clear
