section
  div.sectionTitle
    h1 Work Experience
  div.pdfContent
    article
      h2 #{data.experience.job} at #{data.experience.company}
      p.subDetails #{data.experience.dateWorked}
      p #{data.experience.desc}
  div.clear
