section
  div.sectionTitle
    h1 Work Experience
  div.pdfContent
    each entry in data.experience
      article
        h2 #{entry.job} at #{entry.company}
        p.subDetails #{entry.dateWorked}
        p #{entry.desc}
  div.clear
