section
  div.sectionTitle
    h1 Key Skills
  div.sectionContent
    ul.keySkills
      li.col-sm-3 skill
      li.col-sm-3 skill
      li.col-sm-3 skill
      li.col-sm-3 skill
      li.col-sm-3 skill
    div.clear
