section
  div.sectionTitle
    h1 Education
  div.pdfContent
    each entry in data.education
      article
        h2 #{entry.school}
        p.subDetails Major: #{entry.major}
        p 
          u Coursework 
          ul.keySkills
            each course in entry.coursework
              li= course
        p 
          u Awards and Activity
          ul.keySkills 
            each award in entry.awards
              li= award
  div.clear
